
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .inner-banner {
    background: url(../image/bg4.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 300px;
    position: relative;
    z-index: 1;
  }
  
  .inner-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(8 8 8 / 14%);
    z-index: -1;
  }
  
  .breadcrumb {
    display: block;
    margin: 0 auto;
    padding-top: 120px;
    z-index: 99;
  }
  
  .breadcrumbs-custom-path {
    text-align: center;
    display: inline-block;
  }
  
  .breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    text-transform: capitalize;
    color: #d4d4d4;
  }
  
  .breadcrumbs-custom-path li span.fa {
    font-size: 12px;
  }
  
  .breadcrumbs-custom-path a,
  .breadcrumbs-custom-path a:active {
    color: #fff;
    opacity: .8;
  }
  
  .breadcrumbs-custom-path a:hover {
    opacity: 1;
  }
  
  @media (max-width: 991px) {
    .breadcrumb {
      padding-top: 150px;
    }
  }
  
  @media (max-width: 800px) {
    .inner-banner {
      min-height: 130px;
    }
  
    .breadcrumb {
      padding-top: 100px;
    }
  
    .breadcrumbs-custom-path li {
      font-size: 16px;
    }
  }
  
  @media (max-width: 568px) {
    .inner-banner {
      min-height: 200px;
    }
  
    .breadcrumbs-custom-path li {
      font-size: 15px;
    }
  
    .breadcrumb {
      padding-top: 100px;
    }
  }
  
  /* inner-banner */
  
  .cont-right p{
    display: block;
    transition: all .4s;
  }
  
  .contact-container {
    display: flex;
    padding: 80px 0;
  }
  
  .form {
    /* width: 40%; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
  }
  .form * {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    display: block;
  }
  .about__left{
    margin-right: 30px;
  }
  .cont-left span{
    color: #ff6e65
  }
  .cont-right h6{
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 8px;
  }
  .cont-details .cont-right p a{
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: 0.4px;
    transition: all .5s ease-in;
  }
  
  .contact .cont-details .cont-right p:hover a{
    color: #ff6e65;
  
  }
  
  .contact__form input, .contact__form textarea{
    weight: 100%;
    color: black;
    background-color: #f9f9f9;
    padding: 14px;
    font-size: 15px;
    border: 1px solid #eee;
    margin-bottom: 16px;
    border-radius: 8px;
    outline: none;
  }
  .contact__form input:focus, .contact__form textarea:focus{
    border: 1px solid #ff6e65;
  }
  .contact-container .contact__form input:focus, .contact__form textarea:focus{
    border: 1px solid #ff6e65;
    box-shadow: none;
  }
  .contact__form textarea{
    height: 120px;
    margin-bottom: 20px;
  
  }
  .contact__form button{
    pading: 14px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    border: none;
    background: #ff6e65;
    transition: all .4s ease-in;
  }
  .contact__form button:hover{
    color: #0d369f;
    color: white; 
  }
  .contact__form{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
  }
  
  .contact-container img{
    border-radius: 8px;
    max-width: 100%;
    display: block;
  }
  
  