
/* ******** CAROUSEL ********/
.carousel__top{
    position: relative;
}
.carousel__overlay{
    background-size: cover;
    background-position: top center;
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 3em 0;
}
.carousel__overlay.carousel__img1{
    background-image: url(../images/banner2.jpg);
   
}
.carousel__overlay.carousel__img2{
    background-image: url(../images/banner3.jpg);
    
}
.carousel__tile h5{
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
}
.carousel__tile{
    width: 50%;
}
.carousel__tile .btn{
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #060606;
    background: #fff;
    border-radius: 4px;
    border: none;
    transition: all .5s;
}
.carousel__tile .btn:hover{
    background: #ff6e65;
    color: #fff;
}
.carousel__tile .btn i{
    vertical-align: middle;
}
.carousel .owl-theme .owl-dots{
    position: absolute;
    right: 24px;
    bottom: 120px;
    background: none;
}
.carousel .owl-theme .owl-dots button{
    display: block;
}
.carousel .owl-theme .owl-dots .owl-dot.active span, .carousel .owl-theme .owl-dots .owl-dot:hover span{
    background: #ff6e65;
}
.carousel .owl-theme .owl-dots .owl-dot span{
    background: #fff;
    transition: all .5s;
    width: 12px;
    height: 12px;
    margin: 5px 2px;
}
.carousel__bottomItem i{
    font-size: 45px;
    color: #fff;
}

.carousel__bottomItem{
    padding: 50px 35px;
    border-radius: 8px;
}
.carousel__bottomItem a{
    font-size: 24px;
    margin-top: 25px;
    display: block;
    font-weight: 600;
    transition: all .4s;
}
.carousel__bottomItem h4:hover a{
    color: #060606;
}
.carousel__bottom{
    margin-top: -4em;
    z-index: 100;
    position: relative;
}
.carousel__color1{
    background-color: #037ef3;
}
.carousel__color2{
    background-color: #ffc949;
}
.carousel__color3{
    background-color: #ff4f81;
}
.carousel__color4{
    background-color: #1ee697;
}

/******** WELCOME **********/

.welcome__item i{
    color: #0d369f;
    font-size: 30px;
    background: rgb(13 54 159 / 9%);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}
.welcome__item a{
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: #060606;
}
.welcome__item a:hover{
    color: #ff4f81;
}
.welcome__item p{
    margin-top: 15px;
}

/*********** COURSES ***********/

.courses{
    background-color: #f8f9ff;
}
.courses__thumb img{
    display: block;
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.courses__details{
    position: absolute;
    top: 15px;
    left: 30px;
    right: 25px;
    bottom: -12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.courses__price{
    display: flex;
    justify-content: flex-end;
}


.courses__item .meta__list a{
    display: inline-block;
    background: #1DC295;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    text-transform: capitalize;
    margin-right: 5px;
}
.courses__item .meta__list a:hover{
    color: #fff;
}
.courses__item .meta__list a:first-child{
    background: #FFA100;
}
.courses__item .meta__list a:nth-child(3){
    background-color: #037ef3;
}
.courses__price h6{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #ff6e65;
    box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
}
.courses__content{
    padding: 20px;
    border: 1px solid #eee;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background-color: #fff;
}
.courses__item{
    transition: all .5s;
}
.courses__item:hover{
    box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);
}

.courses__top ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses__top li{
    list-style: none;
    color: #060606;
}
.courses__top li i{
    color: #ff6e65;
}
.courses__body h4 a{
    font-size: 22px;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    color: #060606;
    transition: all .4s;
}
.courses__body h4:hover a{
    color: #ff6e65;
}

.courses__bottom{
    border-top: 1px solid #eee;
}
.courses__bottom .rate__list i{
    color: #ffc949;
    font-size: 15px;
}
.courses__bottom > a{
   color: #ff6e65; 
   font-size: 14px;
   font-weight: 600;
   transition: all .4s;
}
.courses__bottom > a:hover{
    color: #0d369f;
}

/********* FEATURES ***********/
.features{
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.features__item{
    padding: 30px;
    border-radius: 8px;
    background: #fff;
}
.features__icon{
    margin-right: 1em;
}
.features__icon i{
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background-color: rgb(13 54 159 / 9%);
    color: #0d369f;
    border-radius: 50%;
    font-size: 28px;
}
.features__info h5{
    font-size: 20px;
    line-height: 30px;
    color: #060606;
    font-weight: 600;
    margin-bottom: 6px;
}
/******* NUMBER *********/
.number__item h3{
    font-size: 46px;
    font-weight: 600;
    color: #060606;
}
.number__item p{
    color: #060606;
}
.number__item{
    border-right: 1px solid #eee;
}

/********* FEEDBACK ************/
.feedback__item{
    background: #fff;
    border-radius: 4px;
    padding: 2.3rem;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
}
.feedback__content q::before{
    
    font-size: 50px;
    display: inline-block;
    font-family: initial;
    line-height: .8;
    padding-top: 8px;
    color: #ff6e65;
}
.feedback__user img{
    border-radius: 50%;
}
.feedback__name p{
    font-size: 13px;
}

/******* INSTRUCTORS *********/

.instructors__item{
    padding: 10px;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    background: #fff;
    border-radius: 8px;
}
.instructors__thumb{
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.instructors__thumb img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.instructors__info{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -227px;
    margin: 0;
    background: rgb(8 8 8 / 29%);
    padding: 20px 0;
    transition: all .5s;
}
.instructors__item:hover .instructors__info{
    bottom: 0;
}
.instructors__info a{
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #FFF;
    display: inline-block;
    border-radius: 50%;
}
.instructors__info a i{
    color: #0d369f;
    font-size: 14px;
}
.instructors__info a:hover{
    opacity: 0.8;
}
.instructors__more h5 a{
    color: #060606;
    font-weight: 600;
    transition: all .5s;
}
.instructors__more h5:hover a{
    color: #ff6e65;
}
.instructors__more small{
    font-weight: 400;
    font-size: 80%;
    color: #707070;
}

/******** ABOUT *********/
.img-responsive{
    max-width: 100%;
    display: block;
}
.about__right h3{
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

@media screen and (max-width: 991.98px){
    .carousel__tile h5{
        font-size: 5vw;
        line-height: 5vw;
    }
    .carousel__tile .btn{
        font-size: 14px;
        padding: 2vh 3vw;
    }
    .carousel__bottomItem a{
        font-size: 20px;
    }
    .header__search {
        margin-right: 0;
    }
}
