*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
} 
/**********  PAGE 404 ***********/
.page404{
    background-image: url(../images/error.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding: 70px 0;
    display: flex;
    align-items: center;
}
.page404::before{
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 62%) 10%, rgb(230 2 100 / 0%));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.page404__bg{
    max-width: 500px;
}
.page404__content h2{
    font-size: 160px;
    color: #fff;
    line-height: 1;
    font-weight: 500;
}
.page404__content h4{
    font-size: 24px;
    font-weight: 300;
}
.search__page{
    position: relative;
}
.search__page .search-input{
    font-size: 16px;
    padding: 15px 58px 15px 20px;
    border: 2px solid rgb(255 255 255 / 29%);
    border-radius: 35px;
    background: #fff;
    width: calc(100% - 40px);
    margin: auto;
    outline: 0;
}
.search__page .search__btn{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}
.search__page i{
    transition: all .3s ease-in-out;
}
.search__page i:hover{
    color: #ff6e65;
}
.page404__content a{
    color: #eee;
    margin-top: 50px;
    font-weight: 600;
    display: block;
    text-decoration: none;
    transition: all .5s;
}
.page404__content a:hover{
    color: #ff6e65;
}
